.login {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }
  
  .login--card {
    background-color: #323232;
    width: 25%;
    padding: 5em;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 3em;
  }
  
  .login--input {
    color: white;
  }
  
  .login--header {
    font-size: 2em;
    font-weight: bold;
  }