:root {
  --dl-size-size-large: 144px;
  --dl-size-size-small: 48px;
  --dl-size-size-medium: 96px;
  --dl-size-size-xlarge: 192px;
  --dl-size-size-xsmall: 16px;
  --dl-space-space-unit: 16px;
  --dl-size-size-xxlarge: 288px;
  --dl-size-size-maxwidth: 1400px;
  --dl-color-theme-accent1: #FFFFFF;
  --dl-color-theme-accent2: #F5D1B0;
  --dl-radius-radius-round: 50%;
  --dl-color-theme-primary1: #BF4408;
  --dl-color-theme-primary2: #E65103;
  --dl-space-space-halfunit: 8px;
  --dl-space-space-sixunits: 96px;
  --dl-space-space-twounits: 32px;
  --dl-radius-radius-radius2: 2px;
  --dl-radius-radius-radius4: 4px;
  --dl-radius-radius-radius8: 8px;
  --dl-space-space-fiveunits: 80px;
  --dl-space-space-fourunits: 64px;
  --dl-color-theme-secondary1: #FFFFFF;
  --dl-color-theme-secondary2: #FBF1EB;
  --dl-space-space-threeunits: 48px;
  --dl-color-theme-neutral-dark: #191818;
  --dl-radius-radius-cardradius: 8px;
  --dl-color-theme-neutral-light: #FBFAF9;
  --dl-radius-radius-imageradius: 8px;
  --dl-radius-radius-inputradius: 24px;
  --dl-radius-radius-buttonradius: 24px;
  --dl-space-space-oneandhalfunits: 24px;
  --dl-color-library-clickablelayer: rgba(0, 0, 0, 0.0010000000474974513);
  --currentColor: white !important;
}
.css-1ll44ll-MuiOutlinedInput-notchedOutline {
  border-color: rgba(255, 255, 255, 0.23) !important;
}

.css-quhxjy-MuiInputBase-root-MuiOutlinedInput-root {
  color: rgb(255 255 255 / 87%) !important;
}

.button {
  color: var(--dl-color-theme-neutral-dark);
  display: inline-block;
  padding: 0.5rem 1rem;
  border-color: var(--dl-color-theme-neutral-dark);
  border-width: 1px;
  border-radius: 4px;
  background-color: var(--dl-color-theme-neutral-light);
}
 
.input {
  color: var(--dl-color-theme-neutral-dark);
  cursor: auto;
  padding: 0.5rem 1rem;
  border-color: var(--dl-color-theme-neutral-dark);
  border-width: 1px;
  border-radius: 4px;
  background-color: var(--dl-color-theme-neutral-light);
}
 
.textarea {
  color: var(--dl-color-theme-neutral-dark);
  cursor: auto;
  padding: 0.5rem;
  border-color: var(--dl-color-theme-neutral-dark);
  border-width: 1px;
  border-radius: 4px;
  background-color: var(--dl-color-theme-neutral-light);
}
 
.list {
  width: 100%;
  margin: 1em 0px 1em 0px;
  display: block;
  padding: 0px 0px 0px 1.5rem;
  list-style-type: none;
  list-style-position: outside;
}
 
.list-item {
  display: list-item;
}
 
.teleport-show {
  display: flex !important;
  transform: none !important;
}
 
.thq-input {
  color: var(--dl-color-theme-neutral-dark);
  cursor: auto;
  outline: none;
  padding: 0.5rem 1rem;
  align-self: stretch;
  text-align: center;
  border-color: var(--dl-color-theme-neutral-dark);
  border-width: 1px;
  border-radius: var(--dl-radius-radius-inputradius);
  background-color: var(--dl-color-theme-neutral-light);
}
 
.thq-input:focus {
  outline: 1px solid var(--dl-color-theme-primary1);
}
 
.thq-button-filled {
  gap: var(--dl-space-space-halfunit);
  fill: var(--dl-color-theme-secondary1);
  color: var(--dl-color-theme-secondary1);
  cursor: pointer;
  display: flex;
  transition: 0.3s;
  align-items: center;
  font-weight: bold;
  padding-top: var(--dl-space-space-halfunit);
  white-space: nowrap;
  border-color: var(--dl-color-theme-primary1);
  border-width: 1px;
  padding-left: var(--dl-space-space-oneandhalfunits);
  border-radius: var(--dl-radius-radius-buttonradius);
  padding-right: var(--dl-space-space-oneandhalfunits);
  padding-bottom: var(--dl-space-space-halfunit);
  justify-content: center;
  background-color: var(--dl-color-theme-primary1);
}
 
.thq-button-filled:hover {
  fill: var(--dl-color-theme-secondary2);
  color: var(--dl-color-theme-secondary2);
  border-color: var(--dl-color-theme-primary2);
  background-color: var(--dl-color-theme-primary2);
}
 
.thq-button-outline {
  gap: var(--dl-space-space-halfunit);
  fill: var(--dl-color-theme-primary1);
  color: var(--dl-color-theme-primary1);
  border: 1px solid;
  cursor: pointer;
  display: flex;
  transition: 0.3s;
  align-items: center;
  font-weight: bold;
  padding-top: var(--dl-space-space-halfunit);
  white-space: nowrap;
  border-color: var(--dl-color-theme-primary1);
  padding-left: var(--dl-space-space-oneandhalfunits);
  border-radius: var(--dl-radius-radius-buttonradius);
  padding-right: var(--dl-space-space-oneandhalfunits);
  padding-bottom: var(--dl-space-space-halfunit);
  justify-content: center;
}
 
.thq-button-outline:hover {
  fill: var(--dl-color-theme-secondary2);
  color: var(--dl-color-theme-secondary2);
  border-color: var(--dl-color-theme-primary2);
  background-color: var(--dl-color-theme-primary2);
}
 
.thq-button-flat {
  gap: var(--dl-space-space-halfunit);
  fill: var(--dl-color-theme-primary1);
  color: var(--dl-color-theme-primary1);
  cursor: pointer;
  display: flex;
  transition: 0.3s;
  align-items: center;
  font-weight: bold;
  padding-top: var(--dl-space-space-halfunit);
  white-space: nowrap;
  border-color: transparent;
  border-width: 1px;
  padding-left: var(--dl-space-space-oneandhalfunits);
  border-radius: var(--dl-radius-radius-buttonradius);
  padding-right: var(--dl-space-space-oneandhalfunits);
  padding-bottom: var(--dl-space-space-halfunit);
  justify-content: center;
}
 
.thq-button-flat:hover {
  fill: var(--dl-color-theme-secondary1);
  color: var(--dl-color-theme-secondary1);
  border-color: var(--dl-color-theme-primary2);
  background-color: var(--dl-color-theme-primary2);
}
 
.thq-heading-1 {
  font-size: 48px;
  font-family: STIX Two Text;
  font-weight: 700;
  line-height: 1.5;
}
 
.thq-heading-2 {
  font-size: 35px;
  font-family: STIX Two Text;
  font-weight: 600;
  line-height: 1.5;
}
 
.thq-heading-3 {
  font-size: 26px;
  font-family: STIX Two Text;
  font-weight: 600;
  line-height: 1.5;
}
 
.thq-body-large {
  font-size: 18px;
  font-family: Noto Sans;
  line-height: 1.5;
}
 
.thq-body-small {
  font-size: 16px;
  font-family: Noto Sans;
  line-height: 1.5;
}
 
.thq-team-image-round {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 50%;
}
 
.thq-section-padding {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-fiveunits);
  position: relative;
  align-items: center;
  flex-direction: column;
}
 
.thq-section-max-width {
  width: 100%;
  max-width: var(--dl-size-size-maxwidth);
}
 
.thq-img-ratio-1-1 {
  width: 100%;
  object-fit: cover;
  aspect-ratio: 1/1;
  border-radius: var(--dl-radius-radius-imageradius);
}
 
.thq-img-ratio-16-9 {
  width: 100%;
  object-fit: cover;
  aspect-ratio: 16/9;
  border-radius: var(--dl-radius-radius-imageradius);
}
 
.thq-img-ratio-4-3 {
  width: 100%;
  object-fit: cover;
  aspect-ratio: 4/3;
  border-radius: var(--dl-radius-radius-imageradius);
}
 
.thq-img-ratio-4-6 {
  width: 100%;
  object-fit: cover;
  aspect-ratio: 4/6;
  border-radius: var(--dl-radius-radius-imageradius);
}
 
.thq-img-round {
  width: 100%;
  border-radius: var(--dl-radius-radius-round);
}
 
.thq-flex-column {
  gap: var(--dl-space-space-twounits);
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-direction: column;
}
 
.thq-flex-row {
  gap: var(--dl-space-space-twounits);
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
}
 
.thq-grid-6 {
  display: grid;
  grid-gap: var(--dl-space-space-twounits);
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}
 
.thq-grid-5 {
  display: grid;
  grid-gap: var(--dl-space-space-twounits);
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}
 
.thq-card {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  padding: var(--dl-space-space-twounits);
  align-items: stretch;
  border-radius: var(--dl-radius-radius-cardradius);
  flex-direction: column;
}
 
.thq-box-shadow {
  box-shadow: 0px 0px 5px -2px var(--dl-color-theme-neutral-dark);
}
 
.thq-grid-3 {
  display: grid;
  grid-gap: var(--dl-space-space-twounits);
  grid-template-columns: 1fr 1fr 1fr;
}
 
.thq-grid-4 {
  display: grid;
  grid-gap: var(--dl-space-space-twounits);
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
 
.thq-grid-2 {
  width: 100%;
  display: grid;
  grid-gap: var(--dl-space-space-twounits);
  grid-template-columns: 1fr 1fr;
}
 
.thq-checkbox {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
 
.thq-select {
  cursor: pointer;
  appearance: none;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-inputradius);
  padding-right: var(--dl-space-space-twounits);
  padding-bottom: var(--dl-space-space-halfunit);
  background-color: var(--dl-color-theme-neutral-light);
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg width%3D%2220%22 height%3D%2220%22 xmlns%3D%22http%3A//www.w3.org/2000/svg%22 viewBox%3D%220 0 20 20%22 fill%3D%22%23000%22%3E%3Cpath d%3D%22M4.293 7.293a1 1 0 011.414 0L10 11.586l4.293-4.293a1 1 0 111.414 1.414l-5 5a1 1 0 01-1.414 0l-5-5a1 1 0 010-1.414z%22/%3E%3C/svg%3E');
  background-repeat: no-repeat;
  background-position: right 8px center;
}
 
.thq-divider-horizontal {
  width: 100%;
  height: 1px;
  background-color: var(--dl-color-theme-neutral-dark);
}
 
.thq-icon-small {
  width: 24px;
  height: 24px;
}
 
.thq-button-icon {
  fill: var(--dl-color-theme-secondary1);
  padding: 3px;
  transition: 0.3s;
  border-radius: var(--dl-radius-radius-round);
}
 
.thq-button-icon:hover {
  fill: var(--dl-color-theme-secondary2);
}
 
.thq-icon-medium {
  width: var(--dl-size-size-small);
  height: var(--dl-size-size-small);
}
 
.thq-icon-x-small {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
 
.thq-link {
  cursor: pointer;
  display: inline-block;
  overflow: hidden;
  background: linear-gradient(to right, var(--dl-color-theme-primary1) 50%, var(--dl-color-theme-neutral-dark) 50%);
  transition: background-position 300ms ease;
  font-weight: 600;
  background-clip: text;
  background-size: 200% 100%;
  background-position: 100%;
  -webkit-text-fill-color: transparent;
}
 
.thq-link:hover {
  background-position: 0 100%;
}
 
.thq-grid-auto-300 {
  display: grid;
  grid-gap: var(--dl-space-space-oneandhalfunits);
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
 
.thq-animated-group-vertical-reverse {
  gap: var(--dl-space-space-unit);
  width: 100%;
  display: flex;
  animation: scroll-y 20s linear infinite;
  align-items: flex-start;
  flex-direction: column;
  justify-content: space-around;
  animation-direction: reverse;
}
 
.thq-animated-group-horizontal-reverse {
  gap: var(--dl-space-space-unit);
  display: flex;
  animation: scroll-x 20s linear infinite;
  min-width: 100%;
  align-items: center;
  flex-shrink: 0;
  justify-content: space-around;
  animation-direction: reverse;
}
 
.thq-animated-group-vertical {
  gap: var(--dl-space-space-unit);
  width: 100%;
  display: flex;
  animation: scroll-y 20s linear infinite;
  align-items: flex-start;
  flex-direction: column;
  justify-content: space-around;
}
 
.thq-animated-group-horizontal {
  gap: var(--dl-space-space-unit);
  display: flex;
  animation: scroll-x 20s linear infinite;
  min-width: 100%;
  align-items: center;
  flex-shrink: 0;
  justify-content: space-around;
}
 
.thq-animated-group-container-vertical {
  gap: var(--dl-space-space-unit);
  display: flex;
  overflow: hidden;
  flex-direction: column;
}
 
.thq-animated-group-container-horizontal {
  gap: var(--dl-space-space-unit);
  display: flex;
  overflow: hidden;
}
 
.thq-mask-image-vertical {
  mask-image: linear-gradient(to bottom, transparent, black 1%, black 99%, transparent);
}
 
.thq-mask-image-horizontal {
  mask-image: linear-gradient(to right, transparent, black 1%, black 99%, transparent);
}
 
.thq-img-scale {
  transition: 0.3s;
}
 
.thq-img-scale:hover {
  scale: 1.05;
}
 
.thq-animated-card-bg-1 {
  width: 100%;
  height: 100%;
  transition: transform 0.3s;
  border-radius: var(--dl-radius-radius-cardradius);
  background-color: var(--dl-color-theme-accent1);
}
 
.thq-animated-card-bg-2 {
  transition: transform 0.3s;
  border-radius: var(--dl-radius-radius-cardradius);
  background-color: var(--dl-color-theme-accent2);
}
 
.thq-button-animated {
  outline: none;
  z-index: 1;
  overflow: hidden;
  position: relative;
  border-width: 2px;
}
 
.thq-input::placeholder {
  text-align: center;
  vertical-align: middle;
}
 
.thq-animated-group-container-vertical:hover div {
  animation-play-state: paused;
}
 
.thq-animated-group-container-horizontal:hover div {
  animation-play-state: paused;
}
 
.thq-animated-card-bg-2:has([data-animated="true"]:hover) {
  transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(3deg) skew(0deg, 0deg);
}
 
.thq-animated-card-bg-1:has([data-animated="true"]:hover) {
  transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(-6deg) skew(0deg, 0deg);
}
 
.thq-button-animated:before {
  top: 0;
  left: -20%;
  color: var(--dl-color-theme-neutral-light);
  width: 200%;
  height: 101%;
  content: "";
  z-index: 1;
  position: absolute;
  transform: scaleX(0);
  transition: transform 0.5s;
  border-radius: var(--dl-radius-radius-buttonradius);
  background-color: var(--dl-color-theme-neutral-dark);
  transform-origin: 0 0;
  transition-timing-function: cubic-bezier(0.5, 1.6, 0.4, 0.7);
}
 
.thq-button-animated:hover::before {
  color: var(--dl-color-theme-neutral-light);
  z-index: -1;
  transform: scaleX(1);
}
 
.Content {
  font-size: 16px;
  font-family: Inter;
  font-weight: 400;
  line-height: 1.15;
  text-transform: none;
  text-decoration: none;
}
 
.typographyh5 {
  font-size: 20px;
  font-style: normal;
  font-family: Roboto;
  font-weight: 400px;
  font-stretch: normal;
  letter-spacing: 0px;
  text-align: center !important;
}
 
.typographyh6 {
  font-size: 18px;
  font-style: normal;
  font-family: Roboto;
  font-weight: 500px;
  font-stretch: normal;
  letter-spacing: 0.15000000596046448px;
}
 
.typographybody1 {
  font-size: 16px;
  font-style: normal;
  font-family: Roboto;
  font-weight: 400px;
  font-stretch: normal;
  letter-spacing: 0.15000000596046448px;
}
 
.typographybody2 {
  font-size: 14px;
  font-style: normal;
  font-family: Roboto;
  font-weight: 400px;
  font-stretch: normal;
  letter-spacing: 0.17000000178813934px;
}
 
.buttonlarge {
  font-size: 15px;
  font-style: normal;
  font-family: Roboto;
  font-weight: 500px;
  font-stretch: normal;
  letter-spacing: 0.46000000834465027px;
}
 
.inputlabel {
  font-size: 12px;
  font-style: normal;
  font-family: Roboto;
  font-weight: 400px;
  font-stretch: normal;
  letter-spacing: 0.15000000596046448px;
}
 
.inputvalue {
  font-size: 16px;
  font-style: normal;
  font-family: Roboto;
  font-weight: 400px;
  font-stretch: normal;
  letter-spacing: 0.15000000596046448px;
}
 
@media(max-width: 991px) {
  .thq-grid-4 {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
 
@media(max-width: 767px) {
  .thq-section-padding {
    padding: var(--dl-space-space-threeunits);
  }
  .thq-flex-column {
    gap: var(--dl-space-space-oneandhalfunits);
  }
  .thq-flex-row {
    gap: var(--dl-space-space-oneandhalfunits);
  }
  .thq-grid-6 {
    grid-gap: var(--dl-space-space-oneandhalfunits);
    grid-template-columns: 1fr 1fr 1fr;
  }
  .thq-grid-5 {
    grid-gap: var(--dl-space-space-oneandhalfunits);
    grid-template-columns: 1fr 1fr 1fr;
  }
  .thq-card {
    padding: var(--dl-space-space-oneandhalfunits);
  }
  .thq-grid-3 {
    grid-gap: var(--dl-space-space-oneandhalfunits);
    grid-template-columns: 1fr 1fr;
  }
  .thq-grid-4 {
    grid-gap: var(--dl-space-space-oneandhalfunits);
    flex-direction: row;
    grid-template-columns: 1fr 1fr;
  }
  .thq-grid-2 {
    grid-gap: var(--dl-space-space-oneandhalfunits);
    grid-template-columns: 1fr;
  }
  .thq-img-scale {
    width: 100%;
  }
}
 
@media(max-width: 479px) {
  .thq-section-padding {
    padding: var(--dl-space-space-oneandhalfunits);
  }
  .thq-flex-column {
    gap: var(--dl-space-space-unit);
  }
  .thq-flex-row {
    gap: var(--dl-space-space-unit);
  }
  .thq-grid-6 {
    grid-gap: var(--dl-space-space-unit);
    grid-template-columns: 1fr 1fr;
  }
  .thq-grid-5 {
    grid-gap: var(--dl-space-space-unit);
    grid-template-columns: 1fr 1fr;
  }
  .thq-grid-3 {
    grid-gap: var(--dl-space-space-unit);
    align-items: center;
    grid-template-columns: 1fr;
  }
  .thq-grid-4 {
    grid-gap: var(--dl-space-space-unit);
    align-items: center;
    flex-direction: column;
    grid-template-columns: 1fr;
  }
  .thq-grid-2 {
    grid-gap: var(--dl-space-space-unit);
  }
  .thq-grid-auto-300 {
    grid-template-columns: 1fr;
  }
}

.home-container1 {
  width: 100%;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
 
.home-frame1 {
  width: 100%;
  height: auto;
  min-height: 100vh;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
  justify-content: start;
  gap:10px;
  flex-shrink: 0;
  z-index: 1;
}
 
.home-rectangle11 {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  position: absolute;
  color: #212020;
}
 
.home-frame-app-bar1 {
  width: 100%;
  height: 64px;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
  background-color: var(--dl-color-*library-clickablelayer);
}
 
.home-frame-paper1 {
  display: flex;
  overflow: hidden;
  align-self: stretch;
  box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.11999999731779099) ;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
  background-color: #1E0000;
}
 
.home-frame-toolbar1 {
  display: flex;
  padding: 0 24px;
  overflow: hidden;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
}
 
.home-left-side1 {
  gap: 16px;
  display: flex;
  flex-grow: 1;
  align-items: center;
}
 
.home-frame-icon-button1 {
  display: flex;
  padding: 8px;
  overflow: hidden;
  align-items: center;
  border-radius: 100px;
  flex-direction: column;
  justify-content: center;
  background: none;
    border: none;
}
 
.home-frame-icon1 {
  display: flex;
  align-items: flex-start;
}
 
.home-menu-filled1 {
  width: 24px;
  height: 24px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.home-icons8chat5011 {
  top: 0px;
  left: 0px;
  width: 24px;
  height: 24px;
  position: absolute;
}
 
.home-frame-typography1 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.home-text10 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  text-align: left;
  line-height: 160.0000023841858%;
}
 
.home-container2 {
  width: 100%;
  display: flex;
  flex-grow: 1;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
 
.home-frame-card-header1 {
  display: flex;
  padding-top: 0px;
  padding-right: 16px;
  padding-left: 16px;
  padding-bottom: 0px;
  align-items: center;
  flex-shrink: 0;
  width: 100%;
}
 
.home-content1 {
  width: 100%;
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.home-text11 {
  color: rgb(255, 255, 255);
  height: auto;
  align-self: stretch;
  text-align: left;
  line-height: 133.39999914169312%;
}
 
.home-text12 {
  color: rgb(255, 255, 255);
  height: auto;
  align-self: stretch;
  text-align: center;
  line-height: 142.99999475479126%;
}
 
.home-card-content {
  gap: 16px;
  display: flex;
  padding: 16px;
  align-items: flex-start;
  flex-direction: column;
  width: 90%;
}
 
.home-form {
  gap: 16px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.home-frame-text-field1 {
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.home-input1 {
  display: flex;
  padding: 0 12px;
  align-self: stretch;
  align-items: flex-start;
  border-color: rgba(0, 0, 0, 0.23000000417232513);
  border-style: solid;
  border-width: 1px;
  border-radius: 4px;
  flex-direction: column;
}
 
.home-content2 {
  display: flex;
  padding: 0 0;
  overflow: hidden;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
}
 
.home-text13 {
  color: rgba(255, 255, 255, 0.938) !important;
  height: auto;
  flex-grow: 1;
  text-align: left;
  line-height: 24px;
}
 
.home-frame-button1 {
  display: flex;
  padding: 8px 22px;
  overflow: hidden;
  align-self: stretch;
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.11999999731779099) ;
  align-items: center;
  border-radius: 4px;
  flex-direction: column;
  justify-content: center;
  background-color: #1E0000 !important;
}
 
.home-base1 {
  gap: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}
 
.home-text14 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  text-align: left;
  line-height: 26px;
}
 
.home-rectangle12 {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  position: absolute;
  color:#212020;
}
 
.home-frame-app-bar2 {
  z-index: 1;
  width: 100%;
  height: 64px;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
  background-color: var(--dl-color-*library-clickablelayer);
}
 
.home-frame-paper2 {
  display: flex;
  overflow: hidden;
  align-self: stretch;
  box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.11999999731779099) ;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
  background-color: #1E0000;
}
 
.home-frame-toolbar2 {
  display: flex;
  padding: 0 24px;
  overflow: hidden;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
}
 
.home-left-side2 {
  gap: 16px;
  display: flex;
  flex-grow: 1;
  align-items: center;
}
 
.home-frame-icon-button2 {
  display: flex;
  padding: 8px;
  overflow: hidden;
  align-items: center;
  border-radius: 100px;
  flex-direction: column;
  justify-content: center;
  background: none;
    border: none;
}
 
.home-frame-icon2 {
  display: flex;
  align-items: flex-start;
}
 
.home-menu-filled2 {
  width: 24px;
  height: 24px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.home-icons8chat5012 {
  top: 0px;
  left: 0px;
  width: 24px;
  height: 24px;
  position: absolute;
}
 
.home-frame-typography2 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.home-text15 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  text-align: left;
  line-height: 160.0000023841858%;
}
 
.home-title {
  gap: 16px;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.home-text16 {
  color: rgba(255, 255, 255, 0.87);
  height: auto;
  flex-grow: 1;
  text-align: left;
  line-height: 133.39999914169312%;
  width: min-content;
}
 
.home-frame-divider-horizontal {
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.home-minheight {
  width: 0px;
  height: 1px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.home-divider {
  width: 100%;
  height: 1px;
  align-self: stretch;
}
 
.home-jobs-xs12md8 {
  max-height: 64vh; /* Changed from fixed pixel value to viewport height */
  overflow-y: auto;
  width: 100%;
  flex-grow: 1;
  padding: 0 10px;
}

.home-frame2 {
  height: calc(100vh - 74px);
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 20px;
  box-sizing: border-box;
  align-items: center;
}
 
.home-card1 {
  display: flex;
  overflow: hidden;
  align-self: stretch;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.11999999731779099) ;
  align-items: flex-start;
  border-radius: 4px;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 1);
}
 
.home-frame-card-header2 {
  display: flex;
  padding-top: 0px;
  padding-right: 16px;
  padding-left: 16px;
  padding-bottom: 16px;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
}
 
.home-avatar-wrapper1 {
  gap: 10px;
  display: flex;
  padding: 0 16px 0 0;
  align-items: flex-start;
}
 
.home-frame-avatar1 {
  display: flex;
  position: relative;
  align-items: center;
  border-radius: 100px;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(189, 189, 189, 1);
}
 
.home-frame-icon3 {
  display: flex;
  align-items: flex-start;
}
 
.home-person-filled1 {
  width: 24px;
  height: 24px;
}
 
.home-minwidth1 {
  width: 32px;
  height: 32px;
  display: flex;
  z-index: 1;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.home-text17 {
  width: 472px;
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.home-text18 {
  color: rgba(0, 0, 0, 0.8700000047683716);
  height: auto;
  align-self: stretch;
  text-align: left;
  line-height: 150%;
}
 
.home-frame-card-content1 {
  display: flex;
  padding: 16px;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.home-frame-typography3 {
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.home-text19 {
  color: rgba(0, 0, 0, 0.6000000238418579);
  height: auto;
  align-self: stretch;
  text-align: left;
  line-height: 142.99999475479126%;
}
 
.home-frame-card-content2 {
  display: flex;
  padding: 16px;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.home-frame-typography4 {
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.home-text20 {
  color: rgba(0, 0, 0, 0.6000000238418579);
  height: auto;
  align-self: stretch;
  text-align: left;
  line-height: 142.99999475479126%;
}
 
.home-card2 {
  display: flex;
  overflow: hidden;
  align-self: stretch;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.11999999731779099) ;
  align-items: flex-start;
  border-radius: 4px;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 1);
  width: 100% !important; /* Take full width of parent */
  box-sizing: border-box; /* Include padding in width calculation */
  padding: 5px;
}
 
.home-frame-card-header3 {
  display: flex;
  padding: 8px;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
}
 
.home-avatar-wrapper2 {
  gap: 10px;
  display: flex;
  padding: 0 16px 0 0;
  align-items: flex-start;
}
 
.home-frame-avatar2 {
  display: flex;
  position: relative;
  align-items: center;
  border-radius: 100px;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(189, 189, 189, 1);
}
 
.home-frame-icon4 {
  display: flex;
  align-items: flex-start;
}
 
.home-person-filled2 {
  width: 24px;
  height: 24px;
}
 
.home-minwidth2 {
  width: 32px;
  height: 32px;
  display: flex;
  z-index: 1;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.home-text21 {
  width: 472px;
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.home-text22 {
  color: rgba(0, 0, 0, 0.8700000047683716);
  height: auto;
  align-self: stretch;
  text-align: left;
  line-height: 150%;
}
 
.home-frame-card-content3 {
  display: flex;
  padding-top:0px;
  padding-left: 8px;
  padding-right: 8px;
  padding-bottom: 4px;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.home-frame-typography5 {
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.home-text23 {
  color: rgba(0, 0, 0, 0.6000000238418579);
  height: auto;
  align-self: stretch;
  text-align: left;
  line-height: 142.99999475479126%;
}
 
.home-frame-card-content4 {
  width: 100%; /* Take full width of parent */
}
 
.home-frame-typography6 {
  width: 100%;
}
 
.home-text24 {
  color: rgba(0, 0, 0, 0.6000000238418579);
  height: auto;
  align-self: stretch;
  text-align: left;
  line-height: 142.99999475479126%;
}
 
.home-frame-text-field-multiline {
  width: 100%;
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
  margin-bottom: 10px;
}
 
.home-frame-text-field2 {
  display: flex;
  position: relative;
  flex-grow: 1;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.home-input2 {
  display: flex;
  padding: 0 12px;
  flex-grow: 1;
  align-self: stretch;
  align-items: flex-start;
  border-color: rgba(255, 255, 255, 0.23);
  border-style: solid;
  border-width: 1px;
  border-radius: 4px;
  flex-direction: column;
}
 
.home-content3 {
  display: flex;
  padding: 16px 0;
  overflow: hidden;
  flex-grow: 1;
  align-self: stretch;
  align-items: center;
}
 
.home-text25 {
  color: rgba(0, 0, 0, 0.8700000047683716);
  width: 196px;
  height: auto;
  align-self: stretch;
  text-align: left;
  line-height: 24px;
}
 
.home-label-container {
  gap: 10px;
  height: auto;
  display: flex;
  padding: 0 4px;
  z-index: 1;
  align-items: center;
  flex-shrink: 0;
  background-color: #19191a;
    position: absolute;
    left: 10px;
    top: -6px;
}
 
.home-text26 {
  color: rgba(255, 255, 255, 0.6);
  height: auto;
  text-align: left;
  line-height: 12px;
}
 
.home-frame-button2 {
  width: 100%;
  display: flex;
  padding: 8px 22px;
  overflow: hidden;
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.11999999731779099) ;
  align-items: center;
  border-radius: 4px;
  flex-direction: column;
  justify-content: center;
  background-color: #1E0000 !important;
}
 
.home-base2 {
  gap: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}
 
.home-text27 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  text-align: left;
  line-height: 26px;
}

/* Base mobile styles */

.home-lg1200px {
  width: 95%;
  max-width: 100%;
  padding: 5px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  z-index: 5;
  align-items: center;
}

.home-frame3 {
  width: 95%;
  padding: 10px;
  flex-direction: column;
  height: auto;
  display: flex;
  overflow: hidden;
  align-items: center;
  flex-shrink: 0;
  z-index: 5;
}

/* Desktop styles */
@media (min-width: 768px) {
  .home-lg1200px {
    width: 80%;
    padding: 10px;
  }
  
  .home-jobs-xs12md8 {
    max-height: 64vh;
    max-width: 60%;
  }
  
  .home-frame3 {
    flex-direction: row;
    height: 125px;
    max-width: 50%;
  }
  
  .home-frame-text-field-multiline {
    width: 377px;
    margin-bottom: 0;
    margin-right: 10px;
  }
  
  .home-frame-button2 {
    width: auto;
  }
  
  .msg {
    max-width: 85%;
    padding: 0.5em;
  }

  .home-card-content{
    max-width: 30%;
  }
}

/* Exit button positioning */
.exit-button {
  position: fixed !important;
  right: 2%;
  top: 50px;
  background-color: #1E0000 !important;
  z-index: 7;
  height: fit-content;
  margin: 1em;
}