.msg--container {
    width: 100%;
    display: flex;
  }
  
  .msg--own {
    justify-content: flex-end;
  }
  
  .msg--alien {
    justify-content: flex-start;
  }
  
  .msg {
    max-width: 60%;
    min-width: 50%; /* Set a minimum width so very short messages don't look strange */
    padding: 0.5em; /* Reduced padding to save space */
    display: flex;
    flex-direction: column;
  }
  
  .msg--own--reverse {
    align-items: flex-end;
  }
  
  .msg--alien--reverse {
    align-items: flex-start;
  }
  
  
  .msg--service {
    display: flex;
    width: 100%;
    margin-bottom: 0.5em;
  }
  
  .msg--text {
    width: 90%; /* Take full width of parent */
    padding-bottom: 0.75em; /* Comfortable padding for text */
    word-break: break-word;
    white-space: pre-wrap;
    overflow-wrap: anywhere;
    display: inline-block;
  }
  
  .msg--bg--own {
    background-color: #d0e6ff;
  }
  
  .msg--bg--alien {
    background-color: #8F8F8F;
  }

  .system-message {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 8px 0;
  }

  .system-message-content {
    padding: 8px 16px;
    border-radius: 18px;
    background-color: #f5f5f5;
    max-width: 80%;
    text-align: center;
  }

  .system-message-content.error {
    background-color: #c0001d;
  }

  .system-message-content.success {
    background-color: #00860b;
  }

  .system-message-time {
    display: block;
    font-size: 0.75rem;
    color: #f1f1f1;
    margin-top: 4px;
  }